#site_center {text-align:center}
#main {margin:0 auto; width:780px; text-align:left;}


.col_1, .col_2, .col_3, .col_box_1, .col_box_2{ float:left;}


/*======= index.html =======*/
#page1 #content .col_1{width:313px;}
#page1 #content .col_2{width:463px;}
/*=========================*/

/*======= index-1.html =======*/
#page2 #content .col_1{width:503px;}
#page2 #content .col_2{width:273px;}
/*=========================*/

/*======= index-2.html =======*/
#page3 #content .col_1{width:313px;}
#page3 #content .col_2{width:463px;}
/*=========================*/

/*======= index-3.html =======*/
#page4 #content .col_1{width:526px;}
#page4 #content .col_2{width:250px;}
/*=========================*/

/*======= index-4.html =======*/
#page5 #content .col_1{width:313px;}
#page5 #content .col_2{width:463px;}
/*=========================*/

/*======= index-5.html =======*/
#page6 #content .col_1{width:313px;}
#page6 #content .col_2{width:220px;}
#page6 #content .col_3{width:243px;}
/*=========================*/
