* { margin:0; padding:0;}
body { background:#ffffff; font-size:100%; line-height:1em; font-family:tahoma; color:#41413a;}


/*in_line*/
input, select, textarea { vertical-align:middle; font-weight:normal; font-family:tahoma; color:#a9a976; font-weight:normal; font-size:1em; background:#fff; padding-left:10px}
img {border:0; vertical-align:top; text-align:left;}
ul { list-style:none;}

/*==================list====================*/
ul{margin:0px; padding:0px; list-style:none}
ul li { line-height:18px}
ul li a{text-decoration:underline; color:#aaaaaa; background:url(images/marker_list.gif) no-repeat 0 5px; padding-left:12px}
ul li a:hover{ text-decoration:none}


ul.list {margin:0 0 10px 0; padding:0px; list-style:none}
ul.list li { line-height:1.45em; color:#fe3b13; background:url(images/list_bg.gif) repeat-x bottom; padding-bottom:11px; margin-bottom:8px; text-transform:uppercase; font-weight:bold}
ul.list li a{text-decoration:none; color:#0f2139; padding-left:0; display:block; text-transform:none; font-weight:normal}
ul.list li a:hover{ text-decoration:none; color:#fe3b13}
ul.list li.none {background:none}


ul.list_1 {margin:0px; padding:0px; list-style:none}
ul.list_1 li { line-height:1.45em; color:#a9a976; padding-left:32px; margin-bottom:7px}
ul.list_1 li img {vertical-align:top; margin:0 12px 0 -32px}
ul.list_1 li a{text-decoration:underline; color:#a9a976; text-transform:uppercase; font-weight:bold; padding:0}
ul.list_1 li a:hover{ text-decoration:none}


ul.list_2 {margin:0px; padding:0px; list-style:none}
ul.list_2 li { line-height:1.82em; color:#a9a976}
ul.list_2 li a{text-decoration:underline; color:#a9a976; font-weight:bold; text-transform:uppercase; padding-left:0}
ul.list_2 li a:hover{ text-decoration:none}

ul.list_3 {margin:0px; padding:0px; list-style:none}
ul.list_3 li { line-height:1.82em; color:#5d8311}
ul.list_3 li a{text-decoration:underline; color:#5d8311; font-weight:bold; text-transform:uppercase; padding-left:0}
ul.list_3 li a:hover{ text-decoration:none}

/*==========================================*/

a {text-decoration:underline; color:#41413a}
a:hover {text-decoration:none}

a.link {text-decoration:underline; color:#5d8311; text-transform:uppercase; font-weight:bold}
a.link:hover {text-decoration:none}

a.link_1 {text-decoration:underline; color:#a9a976; text-transform:uppercase; font-weight:bold}
a.link_1:hover {text-decoration:none}

.column { float:left;}
.clear { clear:both;}


.logo {
	position:absolute;
	margin:30px 0 0 285px;
	width:401px;
	height:45px;
	left: 166px;
	top: 1px;
}
h1{text-indent:-10000px; background:url(images/logo.jpg) no-repeat 0 30px; height:100px; margin:0 0 11px 185px; font-size:0; line-height:0}

h2 {color:#fe3b13; text-transform:uppercase; font-size:1em; margin:0}

h3 {color:#fe3b13; text-transform:uppercase; font-size:1em; margin:0 0 16px 0}

p {margin:0 0 12px 0}

#site_center {background:url(images/top_bg.gif) repeat-x top}

#menu, #wapper_header {width:780px}

/*header*/
#menu {height:155px}
#menu img {margin-right:1px}
.m1 {margin-left:13px}

#wapper_header { background:url(images/wrapper_header_bg.jpg) no-repeat 0 0}
#wapper_header .txt {margin:58px 0 80px 34px}
#wapper_header .bg {margin:0 2px 0 2px; background:url(images/bg_1.gif) repeat-x top #fffeec}
#wapper_header .indent {padding:0 7px 26px 9px}

/*content*/
#content { font-size:0.6875em; line-height:1.45em}
#content .bg { margin:0 2px 0 2px; background:url(images/cont_bg.gif) repeat-x top #fffeef}
#content .bg_1 {width:100%}
.title {margin-bottom:15px; display:block}
.img_left {float:left; margin:5px 20px 15px 0}



/*footer*/
#footer {height:129px; font-size:0.6875em; line-height:1.45em}
#footer .bg { margin:0 2px 0 2px; background:url(images/footer_bg.gif) repeat-x top #fff; padding-top:47px}


/*================== index.html ==================*/
#page1 #content .bg_1 {background:url(images/line_y_bg.gif) repeat-y 279px 0}
#page1 #content .col_1 .indent {
	padding:18px 58px 3px 33px;
	background:url(images/line_top.gif) no-repeat 279px 0
}
#page1 #content .col_2 .indent { padding:11px 31px 0 0}
#page1 #content .col_2 .block {margin-top:25px}
#page1 #content .col_2 .block .ind {padding:25px 18px 9px 22px}


/*================== index-1.html ==================*/
#page2 #content .col_1 .indent { padding:18px 40px 8px 33px}
#page2 #content .col_2 .indent { padding:0 31px 0 0}
#page2 #content .col_2 .block .ind {padding:25px 18px 18px 22px}


/*================== index-2.html ==================*/
#page3 #content .bg_1 {
	background:url(images/line_y_bg.gif) repeat-y 350px 0
}
#page3 #content .col_1 .indent {padding:18px 58px 4px 33px;background:url(images/line_top.gif) no-repeat 279px 0}
#page3 #content .col_2 .indent { padding:18px 31px 0 0}


/*================== index-3.html ==================*/
#page4 #content .bg_1 {background:url(images/line_y_bg.gif) repeat-y 493px 0}
#page4 #content .col_1 .indent { padding:18px 60px 5px 34px; background:url(images/line_top.gif) no-repeat 493px 0}
#page4 #content .col_1 .block {margin-top:25px}
#page4 #content .col_1 .block .ind {padding:25px 18px 9px 22px}
#page4 #content .col_2 .indent { padding:18px 31px 0 0}


/*================== index-4.html ==================*/
#page5 #content .bg_1 {background:url(images/line_y_bg.gif) repeat-y 279px 0}
#page5 #content .col_1 .indent { padding:18px 58px 2px 33px; background:url(images/line_top.gif) no-repeat 279px 0}
#page5 #content .col_2 .indent { padding:18px 31px 0 0}


/*================== index-5.html ==================*/
#page6 #content .bg_1 {background:url(images/line_y_bg.gif) repeat-y 279px 0}
#page6 #content .col_1 .indent { padding:18px 58px 38px 33px; background:url(images/line_top.gif) no-repeat 279px 0}
#page6 #content .col_2 .indent { padding:18px 31px 0 0}
#page6 #content .col_3 .indent { padding:0 31px 0 0}
#page6 #content .col_3 .block .ind {padding:25px 18px 23px 22px}


input {width:154px; height:20px}
.div_input {height:26px}
textarea {width:154px; height:113px; overflow:auto; margin-bottom:6px}
.div_links {text-align:right; width:164px}


/*================== index-6.html ==================*/
#page7 #wapper_header {height:257px; background:url(images/wrapper_header_bg_p7.jpg) no-repeat 0 0}
#page7 #content .indent {padding:33px 50px 26px 33px}
#page7 #content .bg { margin:0 2px 0 2px; background:url(images/cont_bg_p7.gif) repeat-x top #fffeef}
#page7 #content p {margin-bottom:16px}


/*==================block====================*/
.block_head { background:#8aae28; width:100%}
.block_head .l_t { background:url(images/l_t_1.gif) left top no-repeat;}
.block_head .r_t { background:url(images/r_t_1.gif) right top no-repeat;}
.block_head .r_b { background:url(images/r_b_1.gif) right bottom no-repeat;}
.block_head .l_b { background:url(images/l_b_1.gif) left bottom no-repeat; width:100%}
.block_head .left {background:url(images/left_1.gif) repeat-y left}
.block_head .top {background:url(images/top_1.gif) repeat-x top}
.block_head .right {background:url(images/right_1.gif) repeat-y right}
.block_head .bot {background:url(images/bot_1.gif) repeat-x bottom}
.block_head .ind {padding:17px 16px 27px 24px}
.block_head .title {margin-bottom:10px; display:inline}
.block_head .box {width:720px}
.block_head .col_box_1 {width:280px}
.block_head .col_box_2 {width:440px; padding-top:12px}
.block_head .col_box_2 img {margin-right:12px}
.block_head .col_box_2 .prev {margin-right:12px}
.block_head .col_box_2 .next {margin:0 0 0 10px}

.block { background:#f5f4dc; width:100%; color:#a9a976}
.block .l_t { background:url(images/l_t_2.gif) left top no-repeat; width:100%}
.block .r_t { background:url(images/r_t_2.gif) right top no-repeat;}
.block .r_b { background:url(images/r_b_2.gif) right bottom no-repeat;}
.block .l_b { background:url(images/l_b_2.gif) left bottom no-repeat;}
.block .left {background:url(images/left_2.gif) repeat-y left}
.block .top {background:url(images/top_2.gif) repeat-x top}
.block .right {background:url(images/right_2.gif) repeat-y right}
.block .bot {background:url(images/bot_2.gif) repeat-x bottom}

.block_foot { background:#1d1e22; width:100%; color:#676660; margin:0 0 12px 0}
.block_foot .l_b { background:url(images/l_b_3.gif) left bottom no-repeat;}
.block_foot .r_b { background:url(images/r_b_3.gif) right bottom no-repeat;}
.block_foot .ind {padding:13px 20px 25px 36px}
.block_foot a {text-decoration:underline; color:#676660}
.block_foot a:hover {text-decoration:none}
.block_foot a.menu {text-decoration:none; color:#9c9888}
.block_foot a.menu:hover { color:#676660}
/*==========================================*/
